html {
  background: #DAF7A6;
}

h1{
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: white;
	left: 33%;
	top: 80%;
	position: absolute;
}

.main {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

body {
    font-weight: 900;
font-family: 'Nunito', sans-serif;

}



.keys {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  overflow: hidden;

}

.key {
  position: fixed;
  top: 30%;
  left: 50%;
  color: #DAF7A6;
  opacity: 0%;
  text-align: center;
 
}

.playing {
  transform: scale(30);
  text-shadow: 10px;
  color:  #D78DFC;
    -webkit-animation-name: ColorChange;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3s; 
}

.letter {
  font-size: 40px;
}

.sound {
  color: #ffc600;
  font-size: 40px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

@-webkit-keyframes ColorChange {  
  0% {color: #DCA1FC  ; }
  10% {color: #A1EDFC  ; }
  60% {color: #FCFAA1   ; }
}


